html {
  scroll-behavior: smooth;
}

#o-nemovitosti p, #lokalita p {
  text-align: justify;
}
.hero-image {
  position: relative;
  background-image: url('pictures/1_IMG_9648.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* zajistí výšku celé obrazovky */
}

.hero-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* tmavý průhledný overlay pro lepší čitelnost textu */
  z-index: 1;
}

.hero-image .content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 2rem;
}

.hero-image h1,
.hero-image p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}


.carousel-item img {
  height: 500px; /* nebo jiná výška podle potřeby */
  object-fit: cover;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  display: none;
  z-index: 999;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  padding: 0;
  line-height: 48px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 💡 stín */
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

#scrollToTopBtn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* silnější stín při hoveru */
  background-color: #0056b3; /* tmavší odstín při hoveru */
}





  